Couveuse_DS18B20_LCD.pdsprj.GANDEMA_ABDOUL_.RACHID.9.workspace
Couveus_Code.X/nbproject/Makefile-genesis.properties
debug.log
Couveus_Code.X/build
Couveus_Code.X/dist
Couveus_Code.X/nbproject
Couveus_Code.X/Couveus_Code.X.production.ccspjt
Couveus_Code.X/Makefile
Project Backups
Couveuse_DS18B20_LCD.pdsprj.GANDEMA_ABDOUL_.RACHID.9.workspace
